<!-- <h1>Comments#_comments</h1>
<p>Find me in app/views/comments/_comments.html.erb</p> -->

<!-- <div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_name"><strong><%= comment.name %></strong></p>
		<p class="comment_body"><%= comment.body %></p>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %></p>
	</div>

	<% if user_signed_in? %>
	<p><%= link_to 'Delete', [comment.post, comment],
								  method: :delete,
								  class: "button",
								 	data: { confirm: 'Are you sure?' } %></p> -->



  <% form_for([@post, @post.comments.build]) do |f| %>
     <p>
       <%= f.label :comments %>
       <%= f.text_field :comments %>
     </p>

     <p>
       <%= f.lable :body %>
       <%= f.text_area :body %>
     </p>
     <br>

     <p>
       <% f.submit %>
     </p>
     <% end %>
 	<% end %>
</div>
