<!-- creating a form= need a title & body-->
<%= form_for @post do |f| %>
 <!-- wrapped in a p tag so each one has its own line -->
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
